<!DOCTYPE html>
<html style="font-family:Arial;">
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <style>
            table {
                font-size: 10px;
            }
            th {
                background-color: #CCCCCC;
            }
            .table th {
                text-align: center;
            }
            .table td {
                text-align: center;
            }
            .border {
                border-color: #000000;
                border-width: 2px;
                border-style: solid;
                padding: 20px;
                margin: 10px;
            }
            hr {
                border-color: #000000;
                margin: 25px 10px 0px 10px;
            }
        </style>
    </head>
    <body>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <h1>Analysis of mass spectrometry quality control metrics</h1>
                </div>
            </div>
            <!-- overview -->
            <div class="row border">
                <div class="row">
                    <h2>Combined Analysis</h2>
                </div>
                    <div class="row">
                        <div class="row">
                            <h3>Visualization</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive center-block" src="data:image/png;base64,{{ time.binary }}">
                                <b>{{ time.name }}</b>
                            </div>
                            <div class="col-md-4">
                               <img class="img-responsive center-block" src="data:image/png;base64,{{ pca.binary }}">
                               <b>{{ pca.name }}</b>
                            </div>
                            <div class="col-md-4">
                                <img class="img-responsive center-block" src="data:image/png;base64,{{ tsne.binary }}">
                                <b>{{ tsne.name }}</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h3>Preprocessing</h3>
                                <h4>{{ var.name }}</h4>
                                <p>
                                    <table class="table table-condensed">
                                        <tr>
                                            {% for column in var.header %}
                                                <th>{{ column }}</th>
                                            {% endfor %}
                                        </tr>
                                        {% for row in var.rows %}
                                        <tr>
                                            {% set value_list = row.split(' ') %}
                                            {% for value in value_list %}
                                                <td>{{ value }}</td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </p>
                                <p>{{ variancethreshold.name }} = {{ variancethreshold.value }}</p>
                                <h4>{{ corr.name }}</h4>
                                <p>
                                    <table class="table table-condensed">
                                        <tr>
                                            {% for column in corr.header %}
                                                <th>{{ column }}</th>
                                            {% endfor %}
                                        </tr>
                                        {% for row in corr.rows %}
                                        <tr>
                                            {% set value_list = row.split(' ') %}
                                            {% for value in value_list %}
                                                <td>{{ value }}</td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </p>
                                <p>{{ correlationthreshold.name }} = {{ '{:.2%}'.format(correlationthreshold.value) }}</p>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <h3>Outlier analysis</h3>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <figure>
                                            <img class="img-responsive center-block" src="data:image/png;base64,{{ outlierscorehistogram.binary }}">
                                            <figcaption><b>{{ outlierscorethreshold.name }} = {{ '{:.2%}'.format(outlierscorethreshold.value) }}<br/>
                                                {{ nroutliers.name }} = {{ nroutliers.value }}</b></figcaption>
                                        </figure>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <table class="table table-condensed">
                                                <tr>
                                                    {% for column in freq.header %}
                                                        <th>{{ column }}</th>
                                                    {% endfor %}
                                                </tr>
                                                {% for row in freq.rows %}
                                                <tr>
                                                    {% set value_list = row.split(' ') %}
                                                    {% for value in value_list %}
                                                        <td>{{ value }}</td>
                                                    {% endfor %}
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </p>
                                        <p>{{ minsup.name }} = {{ minsup.value }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row border">
                <div class="row">
                    <h2>Individual Outliers</h2>
                </div>
                {% for outlier in outliers %}
                    <div class="row">
                        <div class="row">
                            <h3>{{ outlier.name }}</h3>
                            <h5>Outlier score = {{ '{:.2%}'.format(outlier.score) }}</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <img class="img-responsive center-block" src="data:image/png;base64,{{ outlier.features }}">
                                <b>Feature importance</b>
                            </div>
                            <div class="col-md-6">
                                <img class="img-responsive center-block" src="data:image/png;base64,{{ outlier.subspace }}">
                                <b>Explanatory subspace</b>
                            </div>
                        </div>
                    </div>
                    {% if not loop.last %}
                        <div class="row"><hr/></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </body>
</html>
