# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11']

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v2.1.1
      with:
         use-mamba: true
         auto-activate-base: true
    - name: Install dependencies
      shell: bash -l {0}
      run: |
        conda install --channel conda-forge --channel bioconda --channel openms bedtools htslib pyopenms -y
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install -e .
    - name: Lint with flake8
      shell: bash -l {0}
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with unittest
      shell: bash -l {0}
      run: |
        cd pypgatk
        python -m unittest discover -s tests -p "*_tests.py" -v

    - name: Update changelog
      uses: heinrichreimer/github-changelog-generator-action@v2.2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Update repo with new version info
      uses: EndBug/add-and-commit@v7
      with:
        add: CHANGELOG.md
        author_name: Release Auto-Commit
        author_email: ypriverol@gmail.com
        branch: dev
        message: Updates version info for ${{github.event.release.name}}

    - name: Generate coverage report
      shell: bash -l {0}
      run: |
        pip install pytest pytest-cov coverage
        cd pypgatk
        coverage run -m unittest discover -s tests -p "*_tests.py"
        coverage xml -o coverage.xml


